.Container {
    width: 100%;
    /*padding: 30px;*/
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.ContainerInner {
    max-width: 1000px;
    width: 100%;
}

.Title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}


.AnswerSectionTitle {
    font-weight: bold;
    margin: 10px 0;
}