.Container {
    padding: 12px 25px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.Container:hover {
    opacity: .9;
}
