.Container {
    width: 100%;
    display: flex;
}

.Option {
    margin-right: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #e3e6e8;
}

.OptionSelected {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary-washed);
    color: var(--color-primary);
}
