.Container {
    margin: 0 0 60px 0;
}

.Title {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.Content {
    display: flex;
}

.TextContent {
    padding-left: 50px;
}

.Duration {
    font-size: 14px;
    color: #808080;
}

.Video {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 0 12px -3px #eee;
}

.Video video {
    width: 100%;
    display: block;
}

.SlowMotionContainer {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.SlowMotionActive {
    background-image: linear-gradient(to left,  #D24E93, #FE5769);
    cursor: pointer;
    padding: 7px 30px;
    border-radius: 20px;
    left: 50%;
    color: white;
    box-shadow: 0 0 15px -2px #999;
    font-weight: 500;
    font-size: 14px;
}

.SlowMotion {
    background-color: rgba(255, 255, 255, .7);
    cursor: pointer;
    padding: 7px 30px;
    border-radius: 20px;
    left: 50%;
    box-shadow: 0 0 15px -2px #999;
    font-weight: 500;
    font-size: 14px;
    border: 1px dashed white;
    box-sizing: border-box;
}

.SlowMotion:hover {
    background-image: linear-gradient(to left,  rgba(210, 78, 147, .6), rgba(254, 87, 105, .6));
}

.Options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 120px;
    padding-left: 40px;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left,  rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    /*pointer-events: none;*/
}

.Option {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    /*pointer-events: all !important;*/
}

.OptionSelected {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
}

.Icon {
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.OptionSelected .Icon {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.ButtonText {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
}

.Buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 20px;
    /*z-index: -10;*/
}

.ButtonPrimary {
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px -2px black;

}

.ButtonSecondary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 20px;
    padding: 10px 15px;
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;

}

.ButtonPrimary i, .ButtonSecondary i {
    margin-right: 10px;
    font-size: 15px;
}




.DrillName {
    font-size: 25px;
    font-weight: bold;
}

.DrillTextSection {
    margin: 20px 0;
}

.DrillTextSubtitle {
    text-decoration: underline;
}

.DrillTextContent {
    margin-top: 5px;
    font-size: 15px;
}
