.Outer {
    display: flex;
}

.Container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.Section {
    display: flex;
    margin-bottom: 100px;
}

.Section img {
    width: 300px;

}
.SectionLeft {
    width: 60%;
}

.Title {
    font-size: 25px;
    font-weight: bold;
}
