.Container {
    /*margin-top: 10px;*/
    padding: 30px 30px 0 30px;
    background-color: white;
    margin-right: 20px;
    box-shadow: 0 0 7px -3px #999;
    border-radius: 5px;
    width: 33%;
}

.ContainerFull {
    padding: 30px 30px 0 30px;
    margin-right: 20px;
    border-radius: 5px;
}

.PillContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header img {
    width: 35px;
}

.Title {
    font-size: 18px;
    font-weight: bold;
}

.Duration {
    font-size: 12px;
    font-weight: normal;
    color: gray;
}

.Content {
    width: 100%;
}

.Item {
    margin-top: 5px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.Footer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #eee;
}

.FooterItem {
    cursor: pointer;
    font-size: 14px;
    color: #0173BA;
    padding: 15px;
}

.FooterItemBold {
    cursor: pointer;
    font-size: 14px;
    color: #0173BA;
    padding: 15px;
    font-weight: bold;
}

.FooterItem:hover {
    text-decoration: underline;
}

.FooterItemBold:hover {
    text-decoration: underline;
}

.Others {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Other {
    font-size: 14px;
    margin-top: 20px;
    width: 45%;
}

.OtherTitle {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    /*font-weight: bold;*/
    font-size: 16px;
}

.InfoButton {
    color: #0173BA;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}

.InfoText {
    margin-top: 15px;
    color: #878D9C;
    font-size: 14px;
}

.EquipmentItem {
    /*margin-left: 20px;*/
}
