.Container {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.Title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.Subtitle {
    margin-bottom: 50px;
}

.ActionButton {
    display: flex;
    justify-content: center;
}