.Container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.Navigation {
    width: 180px;
}

.NavOption {
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: #666;
    transition: color .2s linear;
    font-size: 16px;
}

.NavOption:hover {
    color: black;
    transition: color .2s linear;
}

.NavOptionActive {
    font-weight: 600;
    color: var(--color-primary) !important;
    transition: color .2s linear;
}

.Content {
    width: calc(100% - 180px);
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .Navigation {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .NavOption {
        width: fit-content;
        border-bottom: 1px solid transparent;
        text-align: center;
        margin-right: 20px;
        padding-right: 0;
        padding-left: 0;
    }

    .NavOptionActive {
        border-bottom: 1px solid var(--color-primary);
    }

    .Content {
        width: 100%;
    }

    .MobileHidden {
        display: none;
    }
}