.Title {
    font-size: 23px;
    font-weight: 600;
    margin: 10px 0 30px 0;
}

.PaymentSectionToday {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
}

.InputLabel {
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0 5px 0;
    color: #666;
}

.NameInput {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.NameInput::placeholder {
    color: #bbb;
}

.CardInputWrapper {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.SubText {
    font-size: 12px;
    color: #888;
    margin: 10px 0;
}

.SubText span {
    cursor: pointer;
    text-decoration: underline;
    white-space: pre-wrap;
}

.Form {
    margin-top: 30px;
}

.PaymentMethodWrapper {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SubmitButtonWrapper {
    margin-top: 15px;
}

.Error {
    color: #D93025;
    font-size: 14px;
    margin-top: 10px;
}